<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot PetClinic Application</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h2>Find Owners</h2>
    <form th:action="@{/findOwnerByLastName}" th:object="${owners}" method="post"
          class="form-horizontal" id="search-owner-form">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName"
               placeholder="enter last name..." class="form-control mb-4 col-4"/>

        <a th:href="@{/owners/find}" class="btn btn-primary btn-sm mb-3"> Find Owner</a>
        <a th:href="@{/owners/addOwner}" class="btn btn-primary btn-sm mb-3"> Add Owner</a>
    </form>
</div>
</body>
</html>