<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container my-2">

    <h2>Owner Information</h2>

    <form class="form-inline" th:action="@{/saveOwner}" th:object="${owner}" method="post">
        <input type="hidden" />
        <table id="owners" class="table table-striped">
            <tr>
                <th>Name</th>
                <td><b th:text="${owner.firstName + ' ' + owner.lastName}"></b></td>
            </tr><br>

            <tr>
                <th>Address</th>
                <td th:text="${owner.address}"></td>
            </tr><br>
            <tr>
                <th>City</th>
                <td th:text="${owner.city}"></td>
            </tr><br>
            <tr>
                <th>Phone</th>
                <td th:text="${owner.telephone}"></td>

            </tr><br>
        </table>
<!--        <a th:href="@{/owners/{id}(id=${owner.id})}" class="btn btn-primary">Edit Owner</a>-->
        <a th:href="@{__${owner.id}__/edit}" class="btn btn-primary">Edit Owner</a>

        <!--        <a th:href="@{/owners/{id}(id=${owner.id})}" class="btn btn-primary">Add Pet</a>-->
<!--        <a th:href="@{/addPet}" class="btn btn-primary"> Add Pet</a>-->
        <a th:href="@{|/${owner.id}/addPet|}" class="btn btn-primary">Add Pet</a>
<!--        th:href="@{__${owner.id}__/pets/new}-->

    </form>
        <br />
        <br />
        <h2>Pets details</h2>
    <table class="table table-striped">

        <tr th:each="pet : ${owner.pets}">
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd th:text="${pet.name}"></dd>
                    <dt>Birth Date</dt>
                    <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></dd>
<!--                    <dt>Type</dt>-->
<!--                    <dd th:text="${pet.type}"></dd>-->
                </dl>
            </td>
        </table>
    <hr>
    <a th:href="@{/}">Back to Owner List</a>
</div>

</body>
</html>